# add the following to your system-wide crontab, /etc/crontab 

SHELL=/bin/bash
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin

00 07 	* * * 	root	kexp --start >> /home/pi/cron.log
